// Order Track Page CSS
.custom-wrapper {
    padding: 25px;
    .trackList-wrapper {
        .heading {
            padding: 0 25px 25px 25px;
            .title {
                color: #fff;
                font-size: 24px !important;
                font-weight: bold;
                margin: 0;
                font-style: italic;
            }
        }
        .table-card {
            .sub {
                padding: 20px;
                p {
                    float: left;
                    font-size: 16px;
                    font-weight: 600;
                    padding-top: 10px;
                }
            }
            .table-wrapper {
                padding-bottom: 15px;
                thead{
                    tr {
                        th{
                            font-size: 16px;
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            text-align: left;
                        }
                    }
                }
                // Order Status buttons
                .status {
                    .statusBtn {
                        width: 60%;
                        &.received {
                            background-color: greenyellow;
                        }
                        &.preparing {
                            background-color: hotpink;
                        }
                        &.ready {
                            background-color: orangered;
                        }
                    }
                    .deleteIcon {
                        cursor: pointer;
                        vertical-align: middle;
                    }
                }
            }
        }
        
    }
}
// Menu and Form CSS
.menu-wrapper {
    padding: 0;
    .menu-main-wrapper, .form-wrapper {
        padding: 20px;
        // Menu CSS
        .v-card {
            padding: 25px;
            .noteMsg {
                margin-top: 10px;
                font-size: 10px;
                color: red;
            }
            .div-wrap {
                p {
                    text-align: left;
                    margin: 16px;
                    color: brown;
                    font-weight: 600;
                }
                ul {
                    list-style-type: none;
                    li {
                        .v-input {
                            .v-input--selection-controls__input {
                                input {
                                    opacity: 1;
                                }
                                .v-icon {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            // Form CSS
            form {
                .v-input {
                    label {
                        color: brown;
                    }
                }
            }
        }
    }
}
// Common CSS
body {
    background-color: red;
}
.customBtn {
    color: white !important;
    font-weight: 600;
    &.newOrder-btn {
        background-color: red !important;
        float: right;
        padding-right: 0;
        span {
            padding-left: 10px;
        }
    }
    &.cancelBtn {
        background-color: teal !important;
    }
    &.confirmBtn {
        background-color: #72ce75!important;
    }
    &.backBtn{
        background-color: crimson !important; 
    }
}
h3 {
    &.customH3 {
        text-align: left;
    }
}